################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/smart-match-matrimony.slnx/FileContentIndex/9bde9a56-00b5-4be5-9315-64d8dbe2933d.vsidx
/.vs/slnx.sqlite
